<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/form.css" />
    <title>Project Form</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h3 class="title-center">Create Form</h3>
    
    <div class="form">
      <form enctype="multipart/form-data" action="/admin">
        <div class="title">Project Title : <input type="text" id="project_name" /></div>
        <br />
        <div>
          Project Image :
          <input
            type="file"
            name="uploadImages"
            id="uploadImages"
            accept="image/x-png, image/gif, image/jpeg, image/jpg"
            multiple
          />
        </div>
        <br>
        <div>
          <label for="category" class="category">Category</label>
          <select name="project_category" id="category">
            <option value="mini-project">Mini Project</option>
            <option value="major-project">Major Project</option>
            <option value="out-house-project">Out House Project</option>
          </select>
        </div>
        <br />
        <label for="year">Year</label>
        <div>
          <select name="project_year" id="year">
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </select>
        </div>
        <br />
        <div class="text-area">
          <label for="description" class="lable-field"
            >Project Description</label>
            <br />
            <textarea
            id="project_description"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="abstract" class="lable-field">Project Abstract</label>
          <br />
          <textarea
            id="project_abstract"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="problem-statement" class="lable-field"
            >Project Problem Statement</label
          >
          <br />
          <textarea
            id="project_problem_statement"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="methodology" class="lable-field"
            >Project Methodology</label
          >
          <br />
          <textarea
            id="project_methodology"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="objective" class="lable-field">Project Objective</label> 
          <br />
          <textarea
            id="project_objective"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="result" class="lable-field">Project Result</label>
          <br />
          <textarea
            id="project_results"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="reference" class="lable-field">Project References</label> 
          <br />
          <textarea
            id="project_references"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="achivements" class="lable-field">Project Achivements</label> 
          <br />
          <textarea
            id="project_achivements"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="members" class="lable-field">Project Members</label>
          <br />
          <textarea
            id="project_members"
            cols="40"
            rows="10"
          ></textarea>
        </div>
        <br />
        <br />
        <div>
          <!-- <input type="button" class="btn" value="Submit now">
            <input type="button" class="reset" value="Reset now"> -->
          <!-- <input type="reset" ; value=" reset now"> -->
          <button class="btn-submit" type="button" id="upload_btn">Submit</button>
        </div>
      </form>
    </div> 
    <script src="/scripts/uploadjs.js"></script>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
