<!DOCTYPE html>
<html lang="en">
<head>dfag
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="body">
    <h1 class="title">404</h1>
    <%if (content== "default") {%>
        <h2 class="sub-title"> Page you are looking for is NOT Available or does not exists </h2>
                                
    <% } else { %>                             
        <h2 class="sub-title"> <%= content %> </h2>
    <% } %>
    </div>
    <style>
        .body{
            text-align: center;
            margin-top: 100px;
            color: #24262b;
        }
        .title{
            font-size: 100px;
        }
    </style>
    
</body>
</html>