<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project Gallery</title>
    <meta charset="UTF-8" />
    <link href="home.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>
    <div class="container"><%- include('./partials/nav.ejs') %></div>
    <div class="branches" , id="departments">
      <h1 class="branch-tag">All Branches</h1>
      <div class="inner">
      <br>
        <a class="branch-tiles" , href="projects/">
          <p class="branch-name">Computer Engineering</p>
        </a>
        <a class="branch-tiles" , href="#">
          <p class="branch-name">Information Technology</p>
        </a>
        <a class="branch-tiles" , href="#">
          <p class="branch-name">Electrical Engineering</p>
        </a>
        <a class="branch-tiles" , href="#">
          <p class="branch-name">Cyber Security</p>
        </a>
         <a class="branch-tiles" , href="#">
          <p class="branch-name">EXTC</p>
        </a> 
        <a class="branch-tiles" , href="#">
          <p class="branch-name">Artificial Inteligence</p>
        </a>
      </div>
    </div>
    <div id="about">
        <h1>About Us</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
        accusamus sint labore minus cupiditate iure amet distinctio, accusantium
        dicta, est illum esse velit delectus deserunt molestiae assumenda dolore
        consequatur, eius quod vitae odio! Deserunt sunt soluta magnam voluptas
        reprehenderit in! Veniam eaque minus quam magnam voluptas facilis, hic,
        earum officiis itaque nam ad sunt possimus sit dolorem! Voluptatibus
        doloremque odio totam facere sapiente ab delectus atque minus, eum
        aliquid quisquam numquam blanditiis ipsa adipisci tempore error sequi,
        beatae expedita maxime. At, magnam esse ullam minima error accusantium
        incidunt harum quo odit eveniet veritatis deserunt ipsam facilis, hic
        vel quibusdam laudantium?
      </p>
    </div>
    
    <footer class="footer">
  	 <div class="footer-container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Shah & Anchor</h4>
  	 			<ul class="footer-ul">
  	 				<li><a href="https://www.shahandanchor.com/home/">College Home Page</a></li>
  	 				<li><a href="/#about">About Us</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4 >Team Members</h4>
  	 			<ul class="footer-ul">
  	 				<li><a href="https://www.linkedin.com/in/rashi-lad-460897215/">Rashi Lad</a></li>
  	 				<li><a>rashi15702@sakec.onmicrosoft.com</a></li>
  	 				<li><a href="https://www.linkedin.com/in/sahil-more-093b1419b/">Sahil More</a></li>
  	 				<li><a>sahil15647@sakec.onmicrosoft.com</a></li>
                    <li><a href="https://www.linkedin.com/in/adityasawant09/">Aditya Sawant</a></li>
  	 				<li><a>aditya.sawant15529@sakec.ac.in</a></li>
  	 				<li><a href="https://www.linkedin.com/in/snehil-shah-7794a9209/">Snehil Shah</a></li>
  	 				<li><a>snehil.shah15485@sakec.ac.in</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<ul class="footer-ul">
  	 				<div class="social-links">
                       <h4>Follow Us</h4>
  	 				<a href="https://www.facebook.com/shahanchor/"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://www.instagram.com/sakec_chembur/"><i class="fab fa-instagram"></i></a>
  	 				<a href="https://www.linkedin.com/school/sakec/"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 	</div>
  	 </div>
  </footer>
  </body>
</html>
