<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Gallery</title>
    <meta charset="UTF-8">
    <link href="home.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %> 
    
    </div>
    <div class='branches', id="departments">
        <br>
        <h1 class='branch-tag'>All Branches</h1>
        <a class='branch-tiles', href="projects/">
            <p class='branch-name'>Computer Engineering</p>
        </a>
        <a class='branch-tiles', href="#">
            <p class='branch-name'>Information Technology</p>
        </a>
        <a class='branch-tiles', href="#">
            <p class='branch-name'>Electrical Engineering</p>
        </a>
        <a class='branch-tiles', href="#">
            <p class='branch-name'>Cyber Security</p>
        </a>
    </div>
    
    
</body>
</html>