<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Gallery</title>
    <meta charset="UTF-8">
    <link href="home.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img class="logo" src="images/SAKEC-LOGO.png "alt=SAKEC-LOGO">
        <nav>
            <ul>
                <li>
                    <a href="">HOME</a>
                </li>
                <li>
                    <a href="">ADD</a>
                </li>
                <li>
                    <a href="">ABOUT</a>
                </li>
            </ul>
        </nav>
        <div class="header">
            <h1>Project Gallery</h1>
        </div>
    </div>
    
</body>
</html>