<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project Gallery</title>
    <meta charset="UTF-8" />
    <link href="css/home.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container" style="background-image: url(images/Home-Background.jpg);">
    <%- include('./partials/nav.ejs') %></div>
    <div class="categories" , id="categories">
      <h1 class="category-tag">Project Categories</h1>
      <div class="inner">
      <br>
        <a class="category-tiles" , href="projects/mini-project">
          <p class="category-name">Mini Projects</p>
        </a>
        <a class="category-tiles" , href="projects/major-project">
          <p class="category-name">Major Projects</p>
        </a>
        <a class="category-tiles" , href="projects/out-house-project">
          <p class="category-name">Out House Projects</p>
        </a>
      </div>
    </div>
    <div id="about">
        <h1 class="category-tag">About Us</h1>
      <p>
        <br>
      
        After doing many projects from primary to graduation we all know how frustrating it can be to do a project when we don’t have idea on where to start. Doing projects is a very important part of our career. Projects help us express views that we have overtime developed academically or socially, hence making it extremely important for a character build. 
        <p>We wanted to create a platform where students could take inspiration from those that have come before them so as to improve, hence leading to betterment. It will help the students to find what were the short comings of the projects and help them find the areas where there is scope of improvements. This project model would be a way for students to implement the notable phrase "When you see a code, leave it in a better condition than before"</p>
        <p>
          The main objective of Project Gallery website is to manage the details of student’s project, such as description, images and videos.The project is totally built at administrative end and thus only the administrator is guaranteed the access.The purpose of the project to build the website to reduce the manual work for managing the videos, images and details.
          It keeps the track of various year and various branches projects of the Shah and Anchor student and also provides searching facility of project.
        </p>
        <p>In conclusion, this project model would prove to a perfect, if not complete, solution to the problem that most student have been facing during these gruesome times, the project will be providing the students with the necessary materials and all the places they could look at to make their project a huge success. It will act as an aid and train shape these beautiful young minds into eventually making a project right from scratch.</p>
      </p>
    </div>
    
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>
