
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.projects{
    margin:0 auto;
    max-width: 950px;
    align-content: center;
    overflow: hidden;
    
}



/* div{
    background-color:white;
} */

.project-tiles{
    background-color: #24262B;
    width: 925px;
    height:150px;
    border: 1px solid #24262B;
    margin:25px;
    align-items: center;
    justify-content: center;
    float: left;
    box-sizing: border-box;
    color: #fff;
    border-radius: 6px;

    display: block;
    text-decoration: none;


    
}

.placeholder-name{
    position: relative;
    width: 400px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: left;
}
.placeholder-category{
    width: 180px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 7px;
    float: left;
}
.placeholder-date{
    width: 120px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 7px;
    float: left;
}
