* {
    font-family: 'Poppins', sans-serif;
}


#project_name{
    width: 200px;
    height: 22px;
    border-radius: 5px;
    border-color: black;
    padding: 2px;

}
/* .title{
    font-size: 18px;
    padding:4px;
} */

#p_title{
    width: 200px;
    height: 22px;
    border-radius:5px;
    border-color: black;
   padding: 2px;
}
.category{
    font-size: 18px;
    padding:4px
}
#category{
    border-style: solid;
    width: 180px;
    height: 28px;
    border-radius: 5px;
    border-color: black;
    padding: 2px;
}
.year{

    font-size: 18px;
    padding:4px
}

#year{
    border-style: solid;
    width: 120px;
    height: 28px;
    border-radius: 5px;
    border-color: black;
    padding: 2px
}
.lable-field{
    align-items: center;
    font-size: 18px;
}
.area{
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    border-color: black;
}

.title-center{

    align-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.form{
    display: flex;
    align-items: center;
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 0px, 0px, 0px, 0px;
}

.text-area{
    width: 1000px;
    display: flex;
    float: left;
    margin: 25px;
    align-items: center;
    padding: 10px;
}

.lable-field{
    width: 300px;
    margin:10px;
    padding: 0px;
}
.btn-submit{
  background-color: gray;
  /* font-family: 'Courier New', Courier, monospace; */
  border: 30px;
  font-weight: bold;
  color: black;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  /* float: left; */
  align-content: center;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10px
}