
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    
    /* margin: 0;
    padding: 0; */
    font-family: 'Poppins', sans-serif;
}

body{
    
    background-color: #f0f0f0;
}

@keyframes zoom-out {
    0% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

.container {
    animation: 1.5s zoom-out;
    width: 100%;
    min-height: 100vh;
    background-image: url(images/Home-Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-position-y: 15px;
    background-color: #F3F3F3;
}

.categories{
    margin:0 auto;
    align-items: center;
    max-width: 940px;
    align-items: center;
}

.inner{
    transition: all 1s ease-in;
}

.category-tiles{
    background-color: #24262b;
    width: 250px;
    height:350px;
    border: 1px solid #24262b;
    margin:30px;
    text-align: center;
    align-items: center;
    float: none;
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    justify-content: center;
    display: inline-flex;
    transition: all 0.5s ease;
    
}

.inner a:hover{
    background-color: #24262b;
    color: #e91e63;
    position: relative;
     top: -5px; 
     right: -5px;
}

.category-name{
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold; */
    font-size: x-large;
}

.category-tag{
    margin-top: 100px;
    text-align: center;
}

#about {
    padding-top: 200px;
    padding-bottom: 200px;
    margin:0 auto;
    max-width: 68.5714285714rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}
