@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.project-content{

    background-color: #24262b;
    border-radius: 60px 60px 60px 60px;
    width: 1000px;
    margin: auto;
    padding: 60px;
    
}

.project-title{
    color: white;
    font-size: 26px;
    font-weight: 200;
    
      
}
.project-sub-title{
    font-family: 'Poppins';
    color: #e91e63;
    font-size: 40px;
    
}
#area p{
    font-size: 20px;
    padding: 20px;
}
#area{
    color: #F7D455;
    font-family: 'Poppins';
    text-align: justify;
    text-justify: inter-word;
    font-size: 4;
    min-height: 100px;
    
    inline-size: 1000px;
    border-style: solid;
    border-radius: 40px;
    cursor: pointer;
}

#area p{
    color: white;
}

/* #area p:hover{
    
    color: whi;
    transition: 1s;
} */
#area:hover{
    color: white;
    background-color: #166668;
    transition: 1s;
}

.image{
    width: 100%;
    height: auto;
    
    /* max-height: 700px; */
}
