
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes zoom-out {
    0% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

.container {
    animation: 1.5s zoom-out;
    width: 100%;
    min-height: 100vh;
    background-image: url(images/Home-Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-position-y: 15px;
    background-color: #F3F3F3;
}

.branches{
    margin:0 auto;
    align-items: center;
    max-width: 800px;
    align-items: center;
}



.branch-tiles{
    background-color: #333;
    width: 200px;
    height:300px;
    border: 1px solid #333;
    margin:30px;
    text-align: center;
    align-items: center;
    float: none;
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    justify-content: center;
    display: inline-flex;
}

.branch-name{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
}

.branch-tag{
    text-align: center;
}

#about {
    padding-top: 200px;
    margin:0 auto;
    max-width: 68.5714285714rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}