
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes zoom-out {
    0% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

.container {
    animation: 1.5s zoom-out;
    width: 100%;
    min-height: 100vh;
    background-image: url(images/Home-Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-position-y: 15px;
    background-color: #F3F3F3;
}

.branches{
    margin:0 auto;
    align-items: center;
    max-width: 800px;
    align-items: center;
}

.inner{
    transition: all 1s ease-in;
}

.branch-tiles{
    background-color: #24262b;
    width: 200px;
    height:300px;
    border: 1px solid #24262b;
    margin:30px;
    text-align: center;
    align-items: center;
    float: none;
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    justify-content: center;
    display: inline-flex;
    transition: all 0.5s ease;
    
}

.inner a:hover{
    background-color: #24262b;
    color: #e91e63;
    position: relative;
     top: -5px; 
     right: -5px;
}

.branch-name{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
}

.branch-tag{
    text-align: center;
}

#about {
    padding-top: 200px;
    padding-bottom: 200px;
    margin:0 auto;
    max-width: 68.5714285714rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer-container{
    padding-left: 160px;
	max-width: 1300px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}
.footer-ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}