<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css" />
    <title>Document</title>
</head>

<body>
    <!-- <h1><%= result.email %> </h1>
    <h1>email</h1> -->

    <div class="main-body">


        <div class="card">
            <img src="img.jpg" alt="Student-Image" style="width:100%">
            <h1>Snehil Shah</h1>
            <p class="title">SE - 4</p>
            <p>Computer Engineering</p>
            <p><button>Like</button></p>
        </div>
        <hr>
        <div class="card-details">
            <div class="name">

                <label for="Details">Full Name</label>
                <label for="Details-Meta">Snehil Ronak Shah</label>
                <hr>

                <label for="Details">Email</label>
                <label for="Details-Meta">snehilshah27@gmail.com</label>

                <hr>

                <label for="Details">Phone</label>
                <label for="Details-Meta">8169558980</label>
                <hr>
                <div class="social-image">
                    <img class="git-social-site" src="../../public/images/git-hub-img.png" alt="Github">
                    <img class="social-site" src="../../public/images/linkdin-image.png" alt="linkdin">
                    <img class="social-site" src="../../public/images/twitter-image.png" alt="twitter">
                </div>
            </div>
        </div>
    </div>
</body>

</html>